<p class=MsoNormal><span style='font-size:12.0pt;font-family:Arial;color:#333333;
    background:transparent'>Envoy Technologies (the "Company") may collect personal
    information from or about you when you create an account for, and use, the
    services provided by Envoy. If you decide to register with our Envoy mobile
    application, in addition to the basic registration information we ask you for
    your driver's license information. We share this information with our partners
    who help us by running background checks on users to help protect the Envoy
    driving community. Envoy works with third party partners to perform driving
    record background checks on users, and we receive information from them such as
    publicly available information about a user's driving record or criminal
    history. By submitting information to Envoy during the account registration
    process and/or by using Envoy's services, you consent to such collection and
    use of personal data.</span></p>

<p class=MsoNormal><span style='font-size:12.0pt;font-family:Arial;color:#333333'><br>
    <span style='background:transparent'>Envoy has engaged Checkr, Inc. to obtain a
        motor vehicle report, as defined in California, for business purposes to
        examine motor vehicle reports. Checkr Inc. will provide a background
        investigation for each user's motor vehicle report as a pre-condition of your engagement
        with the Company and in compliance with applicable law, provided you consent.</span></span></p>

<p class=MsoNormal><span style='font-size:12.0pt;font-family:Arial;color:#333333'><br>
    <span style='background:transparent'>By clicking Accept you consent to a
        background check.</span></span></p>

</div>
